<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDw1Ba3y7gTlafSaFsLW7RmkOpmogonpw&sensor=true"></script>

<script>

  var map;
  var collisionsArray = [];

  function initialize() {

    var mapOptions = {
      zoom: 11,
      center: new google.maps.LatLng(40.714623,-74.006605)
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    $.ajax({
      type: "GET",
      url: "/collisions/",
      dataType: "json"
    }).done(function(response) {

      var latlngbounds = new google.maps.LatLngBounds();
      var infowindow;

      $.each(response.collisions, function(i) {

        var collisionStreetName = response.collisions[i].street_name + " and " + response.collisions[i].cross_street;
        var collisionLocation = new google.maps.LatLng(response.collisions[i].lat, response.collisions[i].lon);
        latlngbounds.extend(collisionLocation);

        var marker = new google.maps.Marker({
            position: collisionLocation,
            title: "This is a title!"
        });

        marker.setMap(map);

        google.maps.event.addListener(marker, 'click', function() {
          if (infowindow) {infowindow.close()};
          infowindow = new google.maps.InfoWindow({
              content: collisionStreetName
          });
          infowindow.open(map, marker);
        });

      })

      // map.fitBounds(latlngbounds); 

    });



  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<h3>Map View of Collisions in NYC</h3>
<div id="map-canvas"></div>